In [46]:
pip install factor_analyzer==0.2.3

Requirement already satisfied: factor_analyzer==0.2.3 in ./opt/anaconda3/lib/python3.7/site-packages (0.2.3)
Requirement already satisfied: pandas in ./opt/anaconda3/lib/python3.7/site-packages (from factor_analyzer==0.2.3) (1.0.1)
Requirement already satisfied: numpy in ./opt/anaconda3/lib/python3.7/site-packages (from factor_analyzer==0.2.3) (1.18.1)
Requirement already satisfied: scipy in ./opt/anaconda3/lib/python3.7/site-packages (from factor_analyzer==0.2.3) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas->factor_analyzer==0.2.3) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in ./opt/anaconda3/lib/python3.7/site-packages (from pandas->factor_analyzer==0.2.3) (2.8.1)
Requirement already satisfied: six>=1.5 in ./opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas->factor_analyzer==0.2.3) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
import sklearn.datasets
from sklearn.decomposition import FactorAnalysis
from factor_analyzer import FactorAnalyzer
from pandas import DataFrame as df
import matplotlib.pyplot as plt

In [48]:
df = pd.read_csv("WUR_AFlyScore3.csv")

In [49]:
df.head()

,RA,NA,OV,TE,TW,RE,RW,CI,CW,II,IIW,IO,IOW,AFL
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,University of Oxford,95.4,90.5,0.5,99.6,0.1,98.4,0.2,65.5,0.1,96.4,0.1,4.55
2,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,California Institute of Technology,94.5,92.1,0.2,97.2,0.2,97.9,0.1,88.0,0.1,82.5,0.4,4.47
4,NaN,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.columns

Index(['RA', 'NA', 'OV', 'TE', 'TW', 'RE', 'RW', 'CI', 'CW', 'II', 'IIW', 'IO',
       'IOW', 'AFL'],
      dtype='object')

In [51]:
df.drop(['NA','AFL','TW','RW','CW','IIW','IIW','IOW','AFL'], axis = 1, inplace = True)

In [52]:
## Dropping missing values rows

In [53]:
df.dropna(inplace=True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1397 entries, 1 to 2992
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RA      1397 non-null   object
 1   OV      1397 non-null   object
 2   TE      1397 non-null   float64
 3   RE      1397 non-null   float64
 4   CI      1397 non-null   float64
 5   II      1397 non-null   float64
 6   IO      1397 non-null   float64
dtypes: float64(5), object(2)
memory usage: 87.3+ KB

In [55]:
df.head()

   RA    OV    TE    RE    CI    II    IO
1   1  95.4  90.5  99.6  98.4  65.5  96.4
3   2  94.5  92.1  97.2  97.9  88.0  82.5
5   3  94.4  91.4  98.7  95.8  59.3  95.0
7   4  94.3  92.8  96.4  99.9  66.2  79.5
10  5  93.6  90.5  92.4  99.5  86.9  89.0

In [56]:
from factor_analyzer.factor_analyzer import calculate_bartlett_sphericity
chi_square_value,p_value=calculate_bartlett_sphericity(df)
chi_square_value, p_value

(4247.335822224922, 0.0)

In [57]:
fa = FactorAnalyzer()
fa.analyze(df, 5, rotation=None)
# Check Eigenvalues
ev, v = fa.get_eigenvalues()
ev

   Original_Eigenvalues
0              3.009214
1              0.985964
2              0.555588
3              0.371948
4              0.077287

In [58]:
#Normally based on Eigenvalues, there is only one value which is gretaer than 1.0 but second value is very close to 1.0 as well. So I took # of 2 factors.

In [59]:
fa = FactorAnalyzer()
fa.analyze(df, 2, rotation="varimax")

In [60]:
fa.loadings

     Factor1   Factor2
TE  0.804104  0.377571
RE  0.879805  0.488158
CI  0.264200  0.803559
II  0.522393  0.072550
IO  0.194364  0.668968

In [61]:
#TE= Teaching RE=Research CI=Citiations  II=Industry Income IO=International Outlook

In [62]:
# Get variance of each factors
fa.get_factor_variance()

                 Factor1   Factor2
SS Loadings     1.801114  1.479347
Proportion Var  0.360223  0.295869
Cumulative Var  0.360223  0.656092